.winner {
  color: green;
}

body{
  text-align: center;
  background: #87ceeb;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  margin-left: 40%;
}

button {
  height: 20px;
  font: 15px bold monospace;
  border: solid 1px #FFF;
  margin-bottom: 5px;
  background: gray;
  color: #FFF;
}

button:hover{
  background: #FFF;
  color: #000;
  cursor: pointer;
}

input:hover {
  cursor: auto;
}
